<div class="button">
    <button mat-stroked-button color="primary" [routerLink]="['/board']">리스트</button>
    <button mat-raised-button 
    *ngIf="signService.isSignIn() && loginUser?.name == post?.user?.name"
    [routerLink]="['/board/post',post?.postId, 'modify']" 
    color="primary">수정</button>
</div>
<mat-card>
    <mat-card-title>글 상세</mat-card-title>
    <mat-card-content>
        <mat-list class="list-class">
            <mat-list-item>
                <mat-icon matListIcon>title</mat-icon>
                <div matLine>{{post?.title}}</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>account_circle</mat-icon>
                <div matLine>{{post?.user?.name}}</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>message</mat-icon>
                <div matLine>
                    <div class="white-space-pre">{{post?.content}}</div>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
<app-addcomment [postId]="postId"></app-addcomment>
<app-comment [postId]="postId"></app-comment>