<div class="wrapper">
    <mat-card class="card">
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <div>
                <H3>자유 게시판</H3>
                <button mat-raised-button color="primary" [routerLink]="['/board/add']">
                    <mat-icon>add</mat-icon> Add Post
                </button>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="container">
                <mat-table [dataSource]="posts">
                    <ng-container matColumnDef="postId">
                        <mat-header-cell *matHeaderCellDef>no.</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="column-center" [routerLink]="['/board/post', element.postId]">{{element.postId}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef>제목</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="column-center" [routerLink]="['/board/post', element.postId]">{{element.title}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="author">
                        <mat-header-cell *matHeaderCellDef>작성자</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="column-center" [routerLink]="['/board/post', element.postId]">{{element.user.name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="modifiedAt">
                        <mat-header-cell *matHeaderCellDef>수정</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="column-center">
                            <mat-icon class="icon" *ngIf="signService.isSignIn() && ">edit</mat-icon>
                            <mat-icon class="icon">delete_forever</mat-icon>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="headerColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: headerColumns;"></mat-row>
                </mat-table>
                <div *ngIf="posts.length === 0" class="no-content">
                    등록된 게시글이 없습니다.
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>